.top-margin{
	margin-top:50px;
}
.small-top-margin{
	margin-top:30px;
}
.expanded-model{
	display: none;
}
.models{
	margin-top: 30px;
	margin-bottom: 30px;
}
.model-container{
	margin-top: -10px;
}
.tools-bar{
}
.model-text{
	margin-top: 10px;
}
.model-meta{
	margin-top: 10px;
}
.possibleanswers{
	display: none;
}
