.arsnova-logo{
	margin:0px auto;
}
.top-margin{
	margin-top:50px;
}
.small-top-margin{
	margin-top:30px;
}
.left-margin{
	margin-left: 5px;
}
.right-margin{
	margin-right: 5px;
}
.hidden-elem{
	display: none;
}
.sessionkeyinput{
	width:30px;
}
.expanded-model{
	display: none;
}
.models{
	margin-top: 30px;
	margin-bottom: 30px;
}
.model-container{
	margin-top: -10px;
}
.overview-tools-bar{
	padding-left: 15px;
	margin:0px;
	border-bottom: 1px solid grey;
}
.overview-tools-bar-ent{
	padding:5px;
	text-align: center;
	border-right: 1px solid grey;
}
.overview-tools-bar-ent:hover{
	background-color: #EEEEEE;
}
.model-text{
	margin-top: 10px;
}
.model-meta{
	margin-top: 10px;
}
.possibleanswers{
	display: none;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
		height: 30px;
}
.submit-button{
	width:100%;
}
.dont-display{
	display: none;
}
.answer-toolbar{
	padding: 5px;
	text-align: right;
}
.answer-text{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
}
