<div class="panel panel-default">
  <div class="panel-heading js-expand-question">
    <h3 class="panel-title">
			<%= subject %>
			<span class="pull-right indicator glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
		</h3>
  </div>
	<div class="panel-body expanded-question">
		<div class="tools-bar">
			<button type="button" class="btn btn-default" aria-label="Left Align">
				Enter
			</button>
			<button type="button" class="btn btn-default" aria-label="Left Align">
				<span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span>
			</button>
		</div>
		<div class="container question-text">
			<%= text %>
		</div>
	</div>
</div>
