<div class="panel panel-default model-container">
  <div class="panel-heading js-expand-model">
    <h3 class="panel-title">
			<%= title %>
			<span class="pull-right indicator glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
		</h3>
  </div>
	<div class="panel-body expanded-model">
		<div class="tools-bar">
			<button type="button" class="btn btn-default js-delete-model" aria-label="Left Align">
				<span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span>
			</button>
		</div>
		<div class="model-meta">
			<div class="row">
				<div class="col-sm-2"><%= lang_startdate %></div>
				<div class="col-sm-10"><%= start %></div>
			</div>
			<div class="row">
				<div class="col-sm-2"><%= lang_enddate %></div>
				<div class="col-sm-10"><%= end %></div>
			</div>
			<div class="row">
				<div class="col-sm-2"><%= lang_audience %></div>
				<div class="col-sm-10"><%= audience %></div>
			</div>
			<% if (sessionkey !== "") { %>
				<div class="row">
					<div class="col-sm-2"><%= lang_sessionkey %></div>
					<div class="col-sm-10"><%= sessionkey %></div>
				</div>
			<% } %>
		</div>
		<div class="model-text">
			<%= text %>
		</div>
	</div>
</div>
