<div class="session-info small-top-margin dont-display">
	<div class="row">
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-5">
					<%= lang_keyword %>
				</div>
				<div class="col-sm-7 text-info">
					<%= keyword %>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-5">
					<%= lang_short_name %>
				</div>
				<div class="col-sm-7 text-info">
					<%= shortName %>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-5">
					<%= lang_creation_time %>
				</div>
				<div class="col-sm-7 text-info">
					<%= parsedCreationTime %>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-5">
					<%= lang_last_owner_activity %>
				</div>
				<div class="col-sm-7 text-info">
					<%= parsedLastOwnerActivity %>
				</div>
			</div>
		</div>
	</div>
</div>
