<div class="panel panel-default model-container">
  <div class="panel-heading js-expand-model">
    <h3 class="panel-title">
			<%= name %>
			<span class="pull-right indicator glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
		</h3>
  </div>
	<div class="panel-body expanded-model">
		<div class="tools-bar">
			<button type="button" class="btn btn-default js-enter-session" aria-label="Left Align">
				<%= lang_enter %>
			</button>
			<button type="button" class="btn btn-default js-delete-model" aria-label="Left Align">
				<span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span>
			</button>
		</div>
		<div id="session-info-part"></div>
	</div>
</div>
